.header__cart-btn {
  position: relative;
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background: transparent;
  border: none;
  column-gap: 0.75rem;
}
.menu-btn:hover .header__cart-price {
  color: rgb(255, 188, 66);
}
.header__cart-price {
}
.header__cart-total {
}
.header__menu-svg {
  max-height: 100%;
}
.header__cart-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: -8px;
  width: 1.05rem;
  height: 1.05rem;
  font-size: 0.75rem;
  line-height: 0.8rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
