*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
a {
  cursor: pointer;
}

ul {
  list-style: none;
}

a,
a:visited,
ins {
  color: inherit;
  text-decoration: none;
}

.App {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
}

.spacingBar {
  height: clamp(3rem, 10dvh, 4rem);
}
